<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dog</key>
	<string>Dogs can Smell things we can’t and hear 1000 times better than us.####Dog:Dogs perform many roles for people, such as hunting, herding, pulling loads,            protection, assisting police and military, companionship, and, more recently, aiding handicapped individuals. This impact on human society has given them the nickname &quot;Man&apos;s Best Friend&quot;.In 1957, Laika ( Dog ) became the first living being in space.Dogs only produce sweat on areas not covered with fur, such as the nose and paw pads.The sound of the rain is amplified and hurts dogs sensitive ears thats why dogs don’t like rain.Dogs are Carnivorous.  This means that they eat meat.</string>
	<key>New item</key>
	<string></string>
	<key>New item - 2</key>
	<string></string>
</dict>
</plist>
